defaults
  mode http
  timeout connect 3000ms
  timeout client 5m
  timeout server 5m
  option redispatch
  maxconn 5000
  retries 3

frontend stats
  bind *:{{ .Env.STATS_PORT }}
  stats enable
  stats hide-version
  stats uri /

{{ $myId := .Docker.CurrentContainerID }}
{{ range $host, $me := where $ "ID" $myId }}
{{ range $key, $ports := whereNot $me.Addresses ".Port" $.Env.STATS_PORT }}
frontend port_{{ $ports.Port }}
  bind *:{{ $ports.Port }}
  {{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
  {{ range $key, $container := $containers }}
  {{ $addrLen := len $container.Addresses }}
  {{ if gt $addrLen 0 }}
  acl {{ $container.Name }}_acl hdr(Host) -i {{ $host }}
  use_backend {{ $host }} if {{ $container.Name }}_acl
  {{  end  }}
  {{ end }}
  {{ end }}
{{ end }}
{{ end }}

{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
backend {{ $host }}
{{ range $key, $container := $containers }}
{{ $addrLen := len $container.Addresses }}
{{ if gt $addrLen 0 }}
  {{ range $address := $container.Addresses }}
  server {{ $container.Name}} {{ $address.IP }}:{{ $address.Port }} check
  {{ end }}
  {{  end  }}
{{ end }}
{{ end }}
